.centre
{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.ab
{
    background-color: #BDE0FE;
}
.cd
{
    background-color:  #ADE8F4;
}
.ef
{
    background-color:  #90E0EF;
}
.gh
{
    background-color:  #48CAE4;
}
.ij
{
    background-color: #00B4D8;
}
.kl
{
    background-color: #DEE2FF;
}
.main
{
    color:black;
}
.border
{
    border: 1px solid black;
    outline: solid;
}

