.centre
{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.ab
{
    background-color: #BDE0FE;
}
.cd
{
    background-color:  #B7E4C7;
}
.ef
{
    background-color: #ADE8F4;
}
.gh
{
    background-color:  #D0D1FF;
}
.ij
{
    background-color: #CED4DA;
}
.kl
{
    background-color: #DEE2FF;
}
.main
{
    color:black;
}
.border
{
    border: 1px solid black;
    outline: solid;
}

