.centre
{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.ab
{
    background-color: #83C5BE;
}
.cd
{
    background-color:  #8ECAE6;
}
.ef
{
    background-color:  #219EBC;
}
.gh
{
    background-color:  #023047;
}
.ij
{
    background-color: #EE6C4D;
}
.kl
{
    background-color: #3D5A80;
}
.main
{
    color:black;
}
.border
{
    border: 1px solid black;
    outline: solid;
}

